
@import '../assets/globals.postcss.css';

.button-switch {
  position:     relative;
  display:      inline-block;
  
  & > .icon {
    position: absolute;
  }

  &:after {
    content:    "";
    position:   absolute;
    left:       0;
    top:        0;
    right:      0;
    bottom:     0;
    z-index:    1;
  }
}

