
@import '../assets/globals.postcss.css';

.icon-fork {
  & > .icon {
    /*position:   absolute;*/
    opacity:    0;
    position:   absolute;
    top:        50%;
    left:       50%;
    transform:  translate( -50%, -50% );
  }
  & > .icon:nth-of-type(3) {
    position:   absolute;
    opacity:    1;
  }

  &.is-on > .icon:nth-of-type(2) {
    opacity:    1;
  }
  &.is-on > .icon:nth-of-type(3) {
    opacity:    0;
  }
}

