
@import '../assets/globals.postcss.css';

$size: 12;
.icon {
  position:     relative;
  width:        calc( 12 * $PX );
  height:       calc( 12 * $PX );
  cursor:       pointer;
  
  & > svg {
    position:   absolute;
    left:       0;
    top:        0;
    width:      100%;
    height:     100%;
    fill:       inherit;
    & > use {
      fill:       inherit;
    }
  }

  &:after {
    content:    '';
    position:   absolute;
    left:       0;
    top:        0;
    right:      0;
    bottom:     0;
    z-index:    1;
  }
  
  &.is-x2 {
    width:      calc( 16*$PX );
    height:     calc( 16*$PX );
  }
}

