.icon {
  width:      calc(32 * $PX);
  height:     calc(32 * $PX);
  
  display:    block;
  position:   relative;
  
  & svg {
    display:  block;
    position: absolute;
    top:      0;
    left:     0;
    fill:     inherit;
    stroke:   inherit;
    width:    100%;
    height:   100%;
  }
}