
@import '../assets/globals.postcss.css';
/*@import './handle.postcss.css';*/

$height: 40;
.player-slider {
  /*overflow:     hidden;*/
  height:       calc( $height * $PX );
  & > div {
    position:   absolute;
    left:       0;
    top:        0;
    z-index:    2;
  }
  & .slider {
    z-index:    1;
    height:     100%;
  }

}

