
@import '../assets/globals.postcss.css';

.player-button {
/*  width:      calc( 35 * $PX );
  height:     calc( 35 * $PX );
  cursor:     pointer;
  fill:       #FFF;
  > div {
    position:   absolute;
    top:        50%;
    left:       50%;
    transform:  translate( -50%, -50% );
  }*/
}
