
@import '../assets/globals.postcss.css';
/*@import './handle.postcss.css';*/

$height: 30;
.slider {
  position:           relative;
  width:              100%;
  height:             calc( $height * $PX );
  
  $handleHeight: 13;
  & .handle {
    margin-left:    calc( - $handleHeight/2 * $PX );
    margin-top:     calc( - $handleHeight/2 * $PX );
  
    position:       absolute;
    left:           0;
    top:            50%;
    z-index:        3;
  }
  & .track {
    z-index:        2;
  }

  &.is-y {
    width:          calc( $height * $PX );
    height:         100%;
    
    .handle {
      left:           50%;
      top:            auto;
      bottom:         0;
      margin-top:     0;
      margin-bottom:  calc( -$handleHeight/2 * $PX );
    }
  }
}

