
@import '../assets/globals.postcss.css';

.speed-control {
  position:       relative;
  display:        inline-block;
  
  $pad: 2;
  &__slider {
    position:         absolute;
    background:       $c-purple;
    width:            calc( 30 * $PX );
    height:           calc( 80 * $PX );
    padding-top:      calc( $pad * $GS );
    padding-bottom:   calc( $pad * $GS );
    
    border-top-right-radius:   $BRADIUS;
    border-top-left-radius:    $BRADIUS;
  }
  &__slider-inner{
    width:            100%;
    height:           100%;
    
    &:before,
    &:after {
      content:        '';
      position:       absolute;
      top:            50%;
      width:          calc( 3*$PX );
      height:         calc( $PX );
      background:     #FFF;
    }
    $shift: calc( 5*$PX );
    &:before {
      left:           $shift;
    }
    &:after {
      right:          $shift;
    }
  }
  &__icon {
    border: 1px solid cyan;
  }
}

